// Media style
$desktopWL:1280px;
$desktopWS:980px;
$tableWL:750px;
$tableWS:600px;
$phoneWL:480px;
$phoneWS:320px;

// Colors
$danger:#ff0000;
$warning:#ffc400;
$success:#2bff00;
$primary:#0000ff;
$default:#ffffff;
$textColor:#7d8d93;
$background__color:#e2e4e8;
$color__id:#008000;

